#map { height: 80vh;}


#body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex: 1;
    font-family: sans-serif;
}

.sidebar {
    height: 100%;
    width: 300px;
    background-color: #ffffff;
    padding: 10px;
    font-family: sans-serif;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1;
    position:fixed;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    color:aqua
}

.sidebar .closebtn {
    position: absolute;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: bisque;
    padding: 10px 15px;
    border:none;
}

.openbtn:hover {
    background-color: aqua;
}

.main {
    transition: margin-left .5s;
    flex: 1;
    padding: 10px;
    background-color: #009260;
    font-family: sans-serif;
    color:#ffffff;
}

.footer {
    background-color: #ffffff;
    color: #009260;
    font-family: sans-serif;
    font-style: bold;
    text-align: right;
    padding: 10px;
}