#map { 
  height: 85vh;
  margin-left: 300px;
  transition: 0.5s;
}

#body {
  height: 100vh;
  font-family: sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #009260;
}

.header-container h1 {
  margin: 0;
  flex-grow: 1;
  transition: 0.5s;
}

.h1-header {
  margin-left: 260px;
  transition: 0.5s;
}

.hide {
  display: none;
}

.sidepanel {
  height: 100%;
  width: 300px;
  background-color: #e9e6e6;
  padding-left: 10px;
  font-family: sans-serif;
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  position:fixed;
}

.sidepanel a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #009260;
/*     background-color: #ffffff; */
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color:rgb(198, 204, 204);
}

.sidepanel .closebtn {
  font-size: 30px;
  cursor: pointer;
  padding: 20px 25px;
  border: none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #009260;
  color:#ffffff;
  padding: 10px 15px ;
  border:none;
}

.openbtn:hover {
  background-color: rgb(198, 204, 204);
}

.main {
  transition: margin-left .5s;
  padding: 10px;
  background-color: #009260;
  font-family: sans-serif;
  color:#ffffff;
}

.footer {
  background-color: #ffffff;
  color: #009260;
  font-family: sans-serif;
  font-style: bold;
  text-align: right;
  padding: 10px;
  margin-left: 300px;
  transition: 0.5s;
}

#mySidepanel img {
  width: 95%;
  height: auto;
  display: block; 
  margin: 0;
}

#mySidepanel figcaption {
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
  display: block; 
  margin: 0;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

